.info-card-container {
    width: 385px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(41, 35, 85, 1);
    line-height: 19.36px;
    background-color: rgba(217, 217, 217, 0.37);
    padding: 2rem;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.info-card-container ul {
    list-style-type: disc;
}

.info-card-container h4 {
    text-align: center;
    color: rgba(41, 35, 85, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
}