.primary{
    min-width: 181.42px;
    height: 39.13px;
    background-color: rgba(0, 64, 25, 1);
    font-size: 12.67px;
    line-height: 15.33px;
    color: white;
    font-weight: 700;
    border-radius: 8.54px;
    border: none;
}
button:focus{
    background-color: rgba(0, 64, 25, 0.5);
}